.about-us {
  // =====Banner section=====
  .banner {
    .images-optimization {
      img {
        width: 100%;
        min-height: 200px;
        max-height: 426px;
      }
      .cover-images-overlay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        text-align: start;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        height: 100%;
        .banner-content {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          position: absolute;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          text-align: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
    .home-about-link {
      bottom: 0;
      position: absolute;
      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: $secondaryColor;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 20px 30px;
        li {
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          position: relative;
          a {
            &:hover::before {
              width: 100%;
            }
            &::before {
              border-bottom: 2px solid $primaryColor;
              content: "";
              position: absolute;
              width: 5%;
              bottom: 0px;
              -webkit-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease;
            }
          }
        }
      }
    }
  }
  // =====Our Department section=====
  .our-department {
    .semi-title {
      h1 {
        font-family: $josefin-font;
      }
    }
    .row-one {
      .top-images {
        position: relative;
        overflow: hidden;
      }
      .company-videos {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $whiteColor;
        padding: 40px 60px;
        border: 1px dashed $secondaryColor;
        z-index: 10;
        &::before {
          border-top: 10px solid $secondaryColor;
          content: "";
          width: 100%;
          position: absolute;
          top: -11px;
          left: -2px;
        }
        &::after {
          content: "";
          border-left: 10px solid $secondaryColor;
          height: 50%;
          position: absolute;
          top: -11px;
          left: -11px;
          z-index: 9;
        }
      }
    }
    .row-two {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 10px;
    }
    .department-information {
      margin-top: 40px;
      .lifestyle-colors {
        position: relative;
        border-right: 1px solid $secondaryColor;
        right: 0;
        width: 90%;
        padding: 0px 10px;
        .lifestyle {
          h3 {
            color: $secondaryColor;
          }
          h3,
          p {
            line-height: normal;
            margin: 10px 0px;
          }
          margin-bottom: 35px;
        }
        .colors {
          h3 {
            color: $secondaryColor;
          }
          h3,
          p {
            line-height: normal;
            margin: 10px 0px;
          }
          margin-bottom: 35px;
        }
        &::after {
          background-color: $secondaryColor;
          content: "";
          position: absolute;
          width: 14px;
          height: 14px;
          right: -7px;
          top: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          text-align: center;
          border-radius: 50%;
          -webkit-animation: mymove 5s infinite alternate;
          animation: mymove 5s infinite alternate;
        }
        @-webkit-keyframes mymove {
          0% {
            top: 0;
            bottom: 100%;
          }
          100% {
            top: 100%;
            bottom: 0;
          }
        }
        @keyframes mymove {
          0% {
            top: 0;
            bottom: 100%;
          }
          100% {
            top: 100%;
            bottom: 0;
          }
        }
      }
    }
  }
  // =====Number Counting =====
  .number-counting {
    background-image: url(".././images/multiple-use/number-counting/bg.png");
    width: 100%;
    height: 285px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    img {
      width: 100px;
      border: 1px solid rgba(255, 255, 255, 0.455);
    }
  }
  // =====Our Dedicated Investigators=====
  .our-investigators {
    .card-body {
      margin-top: -230px;
      ul {
        li {
          background-color: $whiteColor;
          width: 30px;
          height: 30px;
          margin-bottom: 4px;
          text-align: center;
          -webkit-transition: background-color 0.3s ease;
          -o-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: $secondaryColor;
          }
        }
      }
      .share-btn {
        background-color: $secondaryColor;
        color: $whiteColor;
        width: 30px;
        height: 30px;
      }
      .info {
        background-color: $primaryColor;
        color: $whiteColor;
        -webkit-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
      }
      &:hover .info {
        background-color: $secondaryColor;
      }
    }
  }
  // =====Our Dedicated Investigators (social link)=====
  .hideLink {
    visibility: hidden;
  }
  // =====Upcoming City Activities & Events Schedule=====
  .upcoming-city {
    background-color: $whiteSmokeColor;
    .semi-title {
      margin-left: 22px;
    }
    .upcoming-events-card {
      .details-information {
        display: -ms-grid;
        display: grid;
        gap: 30px;
        margin-bottom: 20px;
        -ms-grid-columns: 240px 30px 1fr;
        grid-template-columns: 240px 1fr;
      }
      .card {
        .upcoming-info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding-right: 20px;

          .info {
            ul {
              li {
                color: $primaryColor;
                font-size: 15px;
                line-height: 34px;
                i {
                  color: $secondaryColor;
                }
              }
            }
          }
          .upcoming-link {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            a {
              font-size: 20px;
              color: $whiteColor;
              cursor: pointer;
              .card-footer {
                background-color: $secondaryColor;
                border-radius: 2px;
                position: relative;
                width: 40px;
                height: 40px;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                &::before {
                  position: absolute;
                  content: "";
                  top: 5px;
                  left: 5px;
                  border-radius: 2px;
                  width: 40px;
                  height: 40px;
                  margin: 0;
                  padding: 0;
                  border: 1px dotted $secondaryColor;
                }
                &:hover::before {
                  -webkit-animation: animName 5s linear infinite;
                  animation: animName 5s linear infinite;

                  @-webkit-keyframes animName {
                    0% {
                      -webkit-transform: rotate(0deg);
                      transform: rotate(0deg);
                    }
                    100% {
                      -webkit-transform: rotate(360deg);
                      transform: rotate(360deg);
                    }
                  }

                  @keyframes animName {
                    0% {
                      -webkit-transform: rotate(0deg);
                      transform: rotate(0deg);
                    }
                    100% {
                      -webkit-transform: rotate(360deg);
                      transform: rotate(360deg);
                    }
                  }
                }
              }
            }
          }
        }
        &:hover .card-body a .card-footer {
          background-color: transparent;
        }
        &:hover .card-body a .card-footer i {
          color: $secondaryColor;
        }
      }
    }
    .download-city {
      h2 {
        margin-bottom: 40px;
      }
      .card {
        background-color: $secondaryColor;
        .eyes-download-icons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          img {
            width: 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
          }
          .uploadFile-icon,
          .downloadFile-icon {
            input[type="file"] {
              display: none;
            }
            label {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  // =====Good words From People=====
  .our-testimonials {
    .testimonial-slider {
      .card {
        .testi-single-box {
          position: relative;
          border-radius: 2px;
          -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.07);
          margin: 0 0px;
          z-index: 1;
          -webkit-transition: 0.9s all;
          -o-transition: 0.9s all;
          transition: 0.9s all;
          &:after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background: $secondaryColor;
            top: 0;
            left: 0;
            border-radius: 2px;
            z-index: -1;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
            -webkit-transform: scale(0.2, 1);
            -ms-transform: scale(0.2, 1);
            transform: scale(0.2, 1);
            opacity: 0;
          }
          &:hover:after {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            opacity: 1;
          }
          > i {
            font-size: 40px;
            color: rgb(73, 84, 94);
          }
          ul {
            li {
              color: $secondaryColor;
            }
          }
          &:hover ul li {
            color: goldenrod;
          }
          .name-title {
            h3 {
              color: $secondaryColor;
              margin-bottom: -10px;
            }
          }
          &:hover .name-title h3 {
            color: $blackColor;
          }
          img {
            width: 15%;
          }
        }
        .small-box-border {
          position: absolute;
          content: "";
          top: 10px;
          left: 10px;
          border-radius: 2px;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          border: 1px dotted $secondaryColor;
          z-index: -1;
        }
      }
      button.slick-prev.slick-arrow,
      button.slick-next.slick-arrow {
        display: none;
      }
      .slick-dots li.slick-active button:before {
        opacity: 1;
        color: transparent;
        background: $secondaryColor;
        width: 20px;
        height: 5px;
        border-radius: 10px 20px;
        margin-top: 7px;
      }
    }
  }
  // =====Sponsor Company Logo=====
  .company-brand-logo {
    .divide-row {
      margin-bottom: 80px;
      height: 0.5px;
      position: relative;
      top: 20px;
      &::after {
        background-color: $primaryColor;
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-animation: move 20s linear infinite alternate;
        animation: move 20s linear infinite alternate;
        @-webkit-keyframes move {
          0% {
            left: 0;
            right: 99%;
          }
          100% {
            right: 0;
            left: 99%;
          }
        }
        @keyframes move {
          0% {
            left: 0;
            right: 99%;
          }
          100% {
            right: 0;
            left: 99%;
          }
        }
      }
    }

    @-webkit-keyframes scroll {
      0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
      }
    }

    @keyframes scroll {
      0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
      }
    }
    .slider {
      height: 100px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: auto;
    }
    .slider .slide-track {
      -webkit-animation: scroll 40s linear infinite;
      animation: scroll 40s linear infinite;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: calc(250px * 14);
      -webkit-column-gap: 50px;
      -moz-column-gap: 50px;
      column-gap: 50px;
    }
    .slider .slide {
      height: 100px;
      width: 250px;
    }
  }
}

/* ==============Responsive classes============== */
/* Responsive: start 320px end: 1368px  */

@media screen and (min-width: 320px) and (max-width: 576px) {
  .about-us .banner .home-about-link ul {
    padding: 12px 22px;
  }
  .about-us .our-department .department-top-part {
    margin-top: 0;
    row-gap: 30px;
  }
  .about-us .our-department .row-one .company-videos {
    opacity: 0;
  }
  .about-us .our-department .department-information .cityWall-btn-two {
    text-align: center;
  }
  .about-us
    .our-department
    .department-information
    .lifestyle-colors
    .lifestyle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about-us .our-department .department-information .lifestyle-colors .colors {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about-us .number-counting {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 30px 0;
  }
  .about-us .our-investigators .card-body {
    padding: 0 45px;
  }
  .about-us .upcoming-city h2 {
    text-align: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .banner .images-optimization .cover-images-overlay {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .about-us .banner .images-optimization img {
    min-height: 300px;
  }
  .about-us .our-department .department-top-part {
    margin-top: 0;
    row-gap: 30px;
  }
  .about-us .our-department .department-information .cityWall-btn-two {
    text-align: center;
  }
  .about-us
    .our-department
    .department-information
    .lifestyle-colors
    .lifestyle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about-us .our-department .department-information .lifestyle-colors .colors {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about-us .number-counting {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 30px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .banner .images-optimization .cover-images-overlay {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .about-us .banner .images-optimization img {
    min-height: 300px;
  }
  .about-us .our-department .department-top-part {
    margin-top: 0;
    row-gap: 30px;
  }
  .about-us .our-department .row-one .company-videos {
    right: 22px;
  }
  .about-us .our-department .department-information .cityWall-btn-two {
    text-align: center;
  }
  .about-us .our-department .department-information .lifestyle-colors .colors {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .about-us .banner .images-optimization img {
    min-height: 300px;
  }
  .about-us .our-department .department-top-part {
    margin-top: 0;
    row-gap: 30px;
  }
  .about-us .our-department .department-information .cityWall-btn-two {
    text-align: center;
  }
  .about-us .our-department .department-information .lifestyle-colors .colors {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
}
