// Colors
// H1 TO H6
$titleColor: #212529;
// paragraph
$primaryColor: #11141b;
// others color
$secondaryColor: #b59a6d;
$thirdColor: #f8f6f1;
$whiteColor: #fff;
$whiteSmokeColor: #f7f7f7;
$blackColor: #000;
$darkBlueBlack: #0f1026;
$ruddyBrown: #bd632f;

// Google fonts
// title font
$raleway-font: "Raleway", sans-serif;
// paragraph and button font
$josefin-font: "Josefin Sans", sans-serif;
